/* Body */
body {
    padding-bottom: 35px;
}

/* Navigation bar */

.navbar-default {
    background-color: #4471CF;
    border-color: transparent;
}


/* Brand Color */

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}


/* Simple Navbar item color */

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Drop-down Navbar item color */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}


/* Buttons */

.btn-primary {
    background-color: #4471CF;
    border: 0px;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #3B5998;
    border:0px;
}

.btn-red {
    background-color: #F44336;
}

.btn-red:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:active:focus {
    background-color: red;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-green:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:active:focus {
    background-color: green;
}


/* Footer */
.bs-footer {
    background: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #4471CF;
}

.bs-footer .container>p {
    text-align: center;
}

.thumbnail>img {
    max-height: 200px;
    max-width: 100%;
}

.thumbnail .caption>p {
    height: 80px;
}
